/* INICIO: Body - General */
body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    font-size: 0.8em;
    color: #666;
    background-color: #fff;
}

ol {
    font-size: 1.3em;
    font-weight: bold;
    color: #666;
}

    ol p {
        font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
        font-size: x-small;
        font-weight: normal;
        margin: 0px;
        padding: 3px 0;
    }

.selectInput {
    border: 1px solid #000;
}

.deselectInput {
    border: 1px solid #cccccc;
}

.boldText {
    font-weight: bold;
    color: #000;
}

.ErrorText {
    font-weight: bold;
    color: red;
}

.strongText {
    font-weight: bold;
}

.italicText {
    font-style: italic;
    text-align: justify;
}

.darkText {
    color: #000;
}

.Boton {
    background-color: CDD1CA;
    color: #000;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 25px;
}

.Boton2 {
    background-color: CDD1CA;
    color: #000;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 25px;
}

.BotonDeshabilitado {
    background-color: CDD1CA;
    color: #999999;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 25px;
}


/* FIN: Body - General */

/* INICIO: Formularios */

.row {
    display: inline;
}

.label {
    text-align: left;
}

.field {
    text-align: left;
}

/* FIN: Formularios*/

/* INICIO: Maqueta Principal */

#BackHeaderFrame {
    background-color:white;
    border-bottom: 4px solid #000;
    position: relative;
    height: 120px;
    width: 100%;
}

#HeaderFrame {
    min-width: 1024px;
    width: 1300px;
    /*margin-left: 0px;
    margin-right: 0px;*/
    height: 120px;
}

#CardImage {
    position: relative;
    float: left;
    padding-top: 0px;
    margin-left: 130px;
    background-image: url(tarjetaCHIP.PNG);
    background-repeat: no-repeat;
    height: 172px;
    width: 229px;
    z-index: 1; /* Always on Top */
}

#HeaderImage {
    float: left;
    padding-top: 0px;
    margin-left: 0px;
    background-image: url(titulo.PNG);
    background-repeat: no-repeat;
    height: 118px;
    width: 378px;
}

#HeaderImage2 {
    float: left;
    padding-top: 0px;
    margin-left: 0px;
    background-image: url(banner.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 739px;
    margin-right:140px;
}





#HeaderText {
    float: left;
    padding-top: 50px;
    width: 285px;
    color: #000;
    font-family: "Trebuchet MS", "Verdana", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}

#HeaderLogin {

    float: left;
    padding-top: 30px;
    width: 285px;
    color: #000;
    font-family: "Trebuchet MS", "Verdana", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}

#MainLogin {
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    text-align: center;
    width: 1024px;
    min-width: 1024px;
}

#MainContent {
    margin-right: auto;
    padding-top: 25px;
    text-align: center;
    width: 100%;
    min-width: 1024px;
    min-height: 315px;
}

#SideBar {
    position: absolute;
    margin-left: 4px !important;
    float: left;
    width: 233px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

#DetailContent {
    position: relative;
    border-left: 1px solid #a7a7a7;
    margin-right: 50px;
    margin-left: 318px;
    padding: 20px;
    text-align: left;
    min-height: 280px;
    min-width: 791px;
}

#ContactFrame {
    padding-top: 20px;
    width: 1024px;
    min-width: 1024px;
    font-family: "Helvetica", "Trebuchet MS", "Verdana", "Lucida Grande", "Arial", "sans-serif";
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
    height: 1.5em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#FooterFrame {
    width: 1024px;
    min-width: 1024px;
    font-family: "Helvetica", "Trebuchet MS", "Verdana", "Lucida Grande", "Arial", "sans-serif";
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/* FIN: Maqueta Principal */

/* INICIO: Paginas */

#titlePage {
    position: absolute;
    width: 100%;
    font-size: small;
    font-weight: bold;
    color: #000;
}

#errorPage {
    top: 30px;
    position: absolute;
    width: 100%;
    text-align: left;
    color: #ff0000;
    font-size: 0.85em;
}

#contentPage {
    top: 45px;
    position: relative;
    width: 100%;
    padding-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.separatorPage {
    position: relative;
    padding-top: 10px;
    width: 100%;
}

.separatorFields {
    padding-top: 3px;
}

.Contrato {
    font-family: "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    color: #000;
}

/* FIN: Paginas */

/* INICIO: Login */

#LoginPanel {
    width: 800px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 310px;
}

#LoginHeader {
    position: relative;
    padding-bottom: 20px;
}

#NumberPad {
    float: left;
    padding-top: 15px;
    width: 130px;
    text-align: center;
}

#ChangePad {
    margin-left: 10px;
    float: left;
    width: 330px;
    text-align: left;
}

#LoginData {
    margin-left: 10px;
    float: left;
    width: 230px;
    text-align: left;
}

#LoginProveedor {
    margin-left: 75px;
    float: left;
    width: 230px;
    text-align: left;
}

#ChangeData {
    padding-top: 40px;
    margin-left: 10px;
    float: left;
    width: 400px;
    text-align: left;
}

#ErrorMessage {
    position: relative;
    width: 100%;
    text-align: left;
    min-height: 75px;
    color: #ff0000;
    font-size: 0.85em;
}

#LoginImage {
    margin-left: 10px;
    float: left;
    background-image: url(PublicidadPortal.JPG);
    background-repeat: no-repeat;
    height: 268px;
    width: 412px;
}

.separatorLogin {
    position: relative;
    padding-top: 18px;
    width: 100%;
}

/* FIN: Login */


/* INICIO: Menu de Opciones */
.menu_nodeStyle {
    color: #000;
    font-size: 0.9em;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    padding: 5px 5px 5px 5px;
    width: 100%;
    border: solid 1px White;
}

.menu_hoverNodestyle {
    background-color: #ccc;
    border: solid 1px #888888;
    color: #0066cb;
    text-decoration: underline;
    font-size: 0.9em;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    cursor: pointer;
}

.menu_selectedNodestyle {
    padding: 5px 5px 5px 5px;
    font-weight: normal;
    color: #0066cb;
    text-decoration: underline;
    font-size: 0.9em;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
}

.menu_Exit {
    font-weight: bold;
    color: #000;
    font-size: 0.9em;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
}
/* FIN: Menu de Opciones */

/* INICIO: Ventana de Ayuda */
.popupPage {
    margin: 5px;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    font-size: x-small;
    font-weight: normal;
    text-align: justify;
    background-color: #fff;
    overflow-x: hidden;
}

.helpText {
    width: 565px;
}

.higlightFrame {
    background-color: #fff000;
    border: 0.1em solid #fff000;
    text-align: left;
    padding-left: 1em;
    width: 565px;
}

.contactNumbers {
    margin-left: 38px;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    font-size: x-small;
    font-weight: normal;
    text-align: left;
    background-color: #ffffff;
}

.contactCity {
    width: 60%;
}

.contactNumber {
    width: 40%;
}

.boldTitle {
    font-size: small;
    font-weight: bold;
    color: #000;
}

.boldunderlineText {
    font-size: small;
    font-weight: bold;
    text-decoration: underline;
}

/* FIN: Ventana de Ayuda */

/* INICIO: Pantalla de Inicio */
#StartFrame {
    position: fixed;
    padding-top: 120px;
    text-align: right;
    /* Center DIV in Window */
    top: 50%;
    left: 50%;
    width: 320px;
    margin-left: -160px; /*set to a negative number 1/2 of your width*/
    height: 50px;
    margin-top: -85px; /*set to a negative number 1/2 of your height + 1/2 of your padding top*/
    background-image: url(tarjeta.PNG);
    background-repeat: no-repeat;
    z-index: -1;
}

#StartImage {
    height: 45px;
    width: 133px;
    cursor: pointer;
    z-index: 1; /* Always on Top */
}
/* FIN: Pantalla de Inicio */


/* INICIO: Navegador no Soportado */

.Warning {
    clear: both;
    height: 70px;
    width: 800px;
    top: 15px;
    padding: 1px 0 0 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: "Verdana", "Trebuchet MS", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
    font-size: 0.8em;
    text-align: center;
    background-image: url(Navegador_NoSoportado.jpg);
    background-repeat: no-repeat;
    z-index: 1;
}

.WarningMargin {
    width: 1024px;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

a.Alert:link {
    color: #ffffff;
}

a.Alert:hover {
    color: #fff000;
}

a.Alert:visited {
    color: #fff000;
}

/* FIN: Navegador no Soportado */

/* INICIO: Extractos*/

#RememberImage {
    background-image: url(RecuerdaExtracto.JPG);
    background-repeat: no-repeat;
    height: 115px;
    width: 299px;
    position: relative;
    top: 30px;
}

#RememberImage2 {
    background-image: url(RecuerdaExtracto2.JPG);
    background-repeat: no-repeat;
    height: 115px;
    width: 299px;
    position: relative;
    top: 30px;
}


/* FIN: Extractos */

/* INICIO: Inactividad */

#InactivityImage {
    background-image: url(Recuerda3.PNG);
    background-repeat: no-repeat;
    height: 159px;
    width: 322px;
    /* position:               fixed;
        top:                    0px;
/*       z-index:                1; /* Always on Top */
}

/* FIN: Inactividad */


/* INICIO: Grid */

.TituloGrid {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-family: "Arial", "Helvetica", "sans-serif";
}

/* FIN: Grid */

/* INICIO Opciones Pago */

#divTipos {
    margin-top: 20px;
    width: 350px;
    height: 75px;
}

#divTipoPago {
    margin-left: 0px;
    float: left;
    width: 130px;
    text-align: left;
    height: 75px;
}

#divValoresPago {
    margin-left: 0px;
    float: left;
    width: 215px;
    text-align: left;
    height: 75px;
}

.tipoAltura {
    margin-top: 5px;
    text-align: right;
}

/* FIN Opciones Pago */

/*margen botonera */

.margin-top {
    margin-top: 3px;
}

/*FIN margen botonera */

/* imagenes botonera */
#area1 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area2 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area3 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area4 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area5 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area6 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area7 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area8 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area9 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

#area10 {
    background: url(botonAsterisco.png) no-repeat;
    width: 26px;
    height: 26px;
    border: none;
    margin-left: 2px;
}

#area11 {
    background: url(BotonBorrar.png) no-repeat;
    width: 58px;
    height: 26px;
    border: none;
}

/*Indicador de Carga*/

#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
